<h1>base#hello</h1>
<p>congrats, you made it to hello</p>

<%= 1 + 1 %>
<br/>

<% foo = "bar, man, foobar" %>

<%= "#{foo}" %>
<br/>
<% @array.each do |n| %>
  <%= n %> <br/>
<% end %>

<p><a href="/base/index">Index page 1</a></p>
<p><%= link_to("public/index.html", {:action => "index" }) %></p>

<br/>
ID: <%= params[:id] %> <br/>
ID: <%= @id %> <br/>
Next page: <%= @page +1 %>

<hr/>
<%= params.inspect %>